<a href="https://colab.research.google.com/github/JJaeuk/Python-practice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab

Google Colab 활용 및 파이썬예제

In [21]:
"""
111111111
여러줄 주석달기할땐
문서 시작부분에 이렇게
"""

print("AAAA")

# 여러줄 한번에 주석할땐 Ctrl+/
# 11

AAAA

In [3]:
for i in [1,2,3]:
  print(i)

1
2
3

In [4]:
a = "AAA" + "BBB"
print(a)

AAABBB

In [5]:
b = a + "CCC"
print(b)

AAABBBCCC

---

* 라인마다 실행결과 보여주고 저장돼있다.

---

In [6]:
print(b[3])

B

In [24]:
print("I don't know why typing %20s" % b)  # 포맷코드
print("I eat {0} apples".format(3))        # format 함수를 사용한 포매팅
print("I eat {0} apples".format(b))
print("I eat {0} apples".format("three"))
print("{0:<10}".format("hi"))  # 왼쪽정렬
print("{0:>10}".format("hi"))  # 오른쪽정렬
print("{0:^10}".format("hi"))  # 가운데정렬
print("{0:=^10}".format("hi")) # 가운데정렬 - 채우기
print("{0:!<10}".format("hi")) # 왼쪽정렬 - 채우기

I don't know why typing            AAABBBCCC
I eat 3 apples
I eat AAABBBCCC apples
I eat three apples
hi
        hi
    hi
====hi====
hi!!!!!!!!

In [16]:
money = 300    # if else
if(money < 30):
  print("noob")
else:
  print("zz")

zz

In [15]:
def add(a, b):   # 함수
    return a + b

print(add(1,3))

4

In [11]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 30

In [12]:
print(number)

30

In [14]:
for i in range(10):
  print(i, end=' ')  # 한 줄에 출력하기

0 1 2 3 4 5 6 7 8 9

In [26]:
# 클래스
class Calculator:         # 계산기 클래스
    def __init__(self):   # 초기값 설정
        self.result = 0

    def add(self, num):  
        self.result += num
        return self.result

cal1 = Calculator()       # 만들어둔 클래스로 찍어내기
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [33]:
class Cal:

  def setdata(self, first, second):
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

a = Cal()   # 생성자 이용
b = Cal()
c = Cal()

a.setdata(5,6)
b.setdata(3,5)
c.setdata(20,3)

print(a.add())
print(b.sub())
print(c.div())

11
-2
6.666666666666667

In [34]:
# 생성자 이용 -> setdata 필요없음
class Cal:

  def __init__(self, first, second):   # 생성자 -> 객체가 생성될 때 setdata 할수있음
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

a = Cal(5,6)   # 생성자 이용
b = Cal(3,5)
c = Cal(20,4)

print(a.add())
print(b.sub())
print(c.div())

11
-2
5.0